.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*------- HEADER------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.heder-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.meny-link {
        position: relative;
    }

    .nav-link.meny-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.meny-link {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* ---------------------------------- */

/* ----------HERO--SECTION 1-------- */
.hero-section {
    padding: 188px 0;
    background: #2e2f42;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
    max-width: 1440px;
    background-size: cover;
    max-height: 600px;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    max-width: 216px;
    margin-bottom: 72px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding: 112px 0;
        max-width: 768px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        padding: 188px 0;
        max-width: 1440px;
    }

    .hero-title {
        margin-bottom: 48px;
    }
}

/* ---------------------------------- */

/* ----------BENEFITS--SECTION 2---- */

.benefits {
    padding: 96px 0;
}

.container {}

.benefits-container {}

.visually-hidden {}

.list-benefits {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    gap: 72px;
}

.list-benefits-page {}

.feature-icons {
    display: none;
}

.f-icons {}

.benefits-member {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

    text-align: center;
}

.benefits-member-position {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .list-benefits {
        max-width: 768px;
        gap: 72px 24px;
    }

    .list-benefits-page {
        width: 356px;
    }

    .benefits-member {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .benefits {
        padding: 120px 0;
    }

    .feature-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .list-benefits {
        max-width: 1158px;
        gap: 24px;
    }

    .list-benefits-page {
        width: 264px;
    }

    .benefits-member {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }

    .benefits-member-position {
        font-weight: 400;
    }
}

/* ---------------------------------- */

/* --------- OUR TEAM--SECTION 3----- */

.our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-container {
    padding: 0 28px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.list-team {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    gap: 72px;
}

.card-container {
    padding: 32px 0;
}

.list-photo {
    background-color: #ffffff;

    border-radius: 0 0 4px 4px;
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition-duration: 250ms;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icons-team {
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .list-team {
        max-width: 768px;
        gap: 64px 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .list-team {
        flex-wrap: nowrap;
        gap: 24px;
        max-width: 1158px;
    }
}

/* ---------------------------------- */

/* -----OUR PORTFOLIO--SECTION 4---- */

.our-portfolio {
    padding: 96px 0;
}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    gap: 48px;
}

.portfolio-images {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item {
    position: relative;
    overflow: hidden;
}

.list-item-text {
    font-weight: 400;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images:hover .list-item-text {
    transform: translateY(0);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .list-portfolio {
        max-width: 768px;
        gap: 72px 24px;
    }

    .portfolio-images {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .our-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .list-portfolio {
        max-width: 1158px;
        gap: 48px 24px;
    }

    .portfolio-images {
        width: calc((100% - 48px) / 3);
        width: 360px;
        box-shadow: none;
    }

    .portfolio-images:hover {
        box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

/* ---------------------------------- */

/* --------------FOOTER-------------- */
.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 86px;
}

.logo-part-f {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.media-container {
    margin: 0 auto;
    text-align: center;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-media {
    display: flex;
    gap: 16px;
}

.footer-media-item {
    width: 40px;
    height: 40px;
}

.s-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.s-link:hover,
.s-link:focus {
    background-color: #31d0aa;
}

.s-icon {
    fill: #f4f4fd;
}

.subscribe-container {
    margin: 0 auto;
    text-align: center;
}

.subscribe-container-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.email-input {
    opacity: 0.6;
}

.email-input-form {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    border: 1px solid #ffffff;
    width: 288px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #ffffff;
}

::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 61px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.subscribe-btn-icon {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .page-footer {
        margin: 0 auto;
    }

    .footer-container {
        max-width: 528px;
        gap: 72px 24px;
        margin: 0 auto;
    }

    .subscribe-container-text {
        text-align: left;
    }

    .media-web {
        width: 264px;
    }

    .media-container,
    .subscribe-container {
        margin: 0;
        text-align: left;
    }

    .footer-logo,
    .subscribe-container,
    .subscribe-btn {
        margin-left: 0;
        text-align: left;
    }

    .email-input-form {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        max-width: 1158px;
        flex-wrap: nowrap;
        align-items: baseline;
        margin: 0 auto;
        gap: 0;
    }

    .media-web {
        margin-right: 120px;
    }

    .media-container {
        margin-right: 80px;
    }

    .footer-form {
        flex-wrap: nowrap;
    }
}

/* -- ----------- backdrop --------- -- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}


.close-btn-svg {}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.form-container {
    margin-bottom: 8px;
}

.zagolovki-form {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.icon-container {
    position: relative;
}

.input-icon {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
    border: 1px solid #4d5ae5;
}

.label-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus+.label-icon {
    fill: #4d5ae5;
}

.container-comment {
    margin-bottom: 16px;
}

.form-input-com {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-com:focus {
    border-color: #4D5AE5;
}

.container-privacy {
    margin-bottom: 24px;
}

.privacy-checkbox {}

.visually-hidden {}

.checkbox-lab {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.checkbox-input {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-checkbox:checked+label>span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}



.checkbox-input-icon {}

.checkbox-text-item {
    color: #4d5ae5;
}

.modal-btn-second {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-second:hover,
.modal-btn-second:focus {
    cursor: pointer;
    background: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}